In [9]:
import os, sys
# import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, and_, func
from sqlalchemy.orm import sessionmaker
sys.path.append(os.path.abspath('../models'))

import psycopg2

ModuleNotFoundError: No module named 'matplotlib'

In [2]:

cities = pd.read_csv('../data/Cities/Chart data.csv', index_col=False)
cities.head(5)

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [8]:
Content_type = pd.read_csv('../data/Content type/Chart data.csv', index_col=False)
Content_type.head(5)

NameError: name 'pd' is not defined

In [4]:
Device_type = pd.read_csv('../data/Device type/Chart data.csv', index_col=False)
Device_type.head(5)

         Date Device type  Views
0  2020-06-28    Computer      1
1  2020-06-29    Computer     49
2  2020-06-30    Computer     62
3  2020-07-01    Computer     46
4  2020-07-02    Computer     29

In [5]:
Geography = pd.read_csv('../data/Geography/Chart data.csv', index_col=False)
Geography.head(5)

         Date Geography  Views
0  2020-06-28        BJ      0
1  2020-06-29        BJ      0
2  2020-06-30        BJ      0
3  2020-07-01        BJ      0
4  2020-07-02        BJ      0

In [6]:
New_and_returning_viewers = pd.read_csv('../data/New and returning viewers/Chart data.csv', index_col=False)
New_and_returning_viewers.head(5)

         Date New and returning viewers  Views
0  2020-06-28                   Unknown      1
1  2020-06-29                   Unknown     72
2  2020-06-30                   Unknown     76
3  2020-07-01                   Unknown     70
4  2020-07-02                   Unknown     57

In [7]:
Operating_system = pd.read_csv('../data/Operating system/Chart data.csv', index_col=False)
Operating_system.head(5)

         Date Operating system  Views
0  2020-06-28          Unknown      0
1  2020-06-29          Unknown      0
2  2020-06-30          Unknown      0
3  2020-07-01          Unknown      0
4  2020-07-02          Unknown      0

In [29]:
Sharing_service = pd.read_csv('../data/Sharing service/Chart data.csv', index_col=False)
Sharing_service.head(5)

         Date Sharing service  Shares
0  2020-06-28        Facebook       0
1  2020-06-29        Facebook       0
2  2020-06-30        Facebook       0
3  2020-07-01        Facebook       0
4  2020-07-02        Facebook       0

In [9]:
Subscription_source = pd.read_csv('../data/Subscription source/Chart data.csv', index_col=False)
Subscription_source.head(5)

         Date Subscription source  Subscribers
0  2020-06-28               Other            0
1  2020-06-29               Other            0
2  2020-06-30               Other            0
3  2020-07-01               Other            0
4  2020-07-02               Other            1

In [10]:
Subscription_status = pd.read_csv('../data/Subscription status/Chart data.csv', index_col=False)
Subscription_status.head(5)

         Date Subscription status  Views
0  2020-06-28          Subscribed      1
1  2020-06-29          Subscribed     16
2  2020-06-30          Subscribed     23
3  2020-07-01          Subscribed     23
4  2020-07-02          Subscribed     26

In [11]:
Subtitles_and_CC = pd.read_csv('../data/Subtitles and CC/Chart data.csv', index_col=False)
Subtitles_and_CC.head(5)

         Date Subtitles and CC  Views
0  2020-06-28              NaN      1
1  2020-06-29              NaN     70
2  2020-06-30              NaN     76
3  2020-07-01              NaN     70
4  2020-07-02              NaN     57

In [12]:
Subtitles_and_CC.dropna(subset=['Subtitles and CC'], inplace=True)

In [13]:
Traffic_source = pd.read_csv('../data/Traffic source/Chart data.csv', index_col=False)
Traffic_source.head(5)

         Date     Traffic source  Views
0  2020-06-28  Direct or unknown      0
1  2020-06-29  Direct or unknown      6
2  2020-06-30  Direct or unknown      2
3  2020-07-01  Direct or unknown      3
4  2020-07-02  Direct or unknown      0

In [14]:
Viewership_by_data =  pd.read_csv('../data/Traffic source/Table Data.csv', index_col=False)
Viewership_by_data.head(5)

,Traffic source,Views,Watch time (hours),Average view duration,Impressions,Impressions click-through rate (%)
0,Total,26625.0,2157.3497,0:04:51,606516.0,2.45
1,Channel pages,8444.0,780.2340,0:05:32,218825.0,2.95
2,Browse features,4759.0,321.8387,0:04:03,109132.0,3.43
3,Direct or unknown,4123.0,327.4812,0:04:45,NaN,NaN
4,YouTube search,3123.0,232.8650,0:04:28,93094.0,2.73

In [15]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from location import Location
from analytics import Analytics
from new_returning_viewers import NewReturningViewers

In [16]:
engine = create_engine('postgresql://missy:123456d@localhost/youtube_db')

In [17]:
Location.metadata.create_all(engine)
Analytics.metadata.create_all(engine)
NewReturningViewers.metadata.create_all(engine)

In [18]:
date_columns = ['Date', 'date']

In [19]:

for df in [cities, Content_type, Device_type, Geography, New_and_returning_viewers,
           Operating_system, Sharing_service, Subscription_source, Subscription_status,
           Subtitles_and_CC, Traffic_source, Viewership_by_data]:
    for col in date_columns:
        if col in df:
            df[col] = pd.to_datetime(df[col])

In [31]:
# analytics_data = pd.concat([Content_type, Device_type['Device_type'], Sharing_service, Subscription_source,
#                             Subscription_status, Subtitles_and_CC, Traffic_source], ignore_index=True)
# location_data = pd.merge(Geography, cities, how='left', on=['Date'])

# print(analytics_data)

KeyError: 'Device_type'

In [21]:
Session = sessionmaker(bind=engine)
session = Session()

In [22]:
location_data.rename(columns={'Date': 'date', 'Views': 'views'}, inplace=True)
location_data.to_sql('location', con=engine, if_exists='replace', index=False)

455

In [23]:
analytics_data.to_sql('analytics', con=engine, if_exists='replace', index=False)

439

In [24]:
New_and_returning_viewers.to_sql('new_returning_viewers', con=engine, if_exists='replace', index=False)

837

In [25]:
session.commit()
session.close()

In [27]:

query = '''

SELECT content_type, device_type, SUM(views) AS total_views
FROM analytics
GROUP BY content_type, device_type;

'''

df = pd.read_sql_query(query, engine)

# Print the DataFrame
print(df)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "content_type" does not exist
LINE 3: SELECT content_type, device_type, SUM(views) AS total_views
               ^
HINT:  Perhaps you meant to reference the column "analytics.Content type".

[SQL:

SELECT content_type, device_type, SUM(views) AS total_views
FROM analytics
GROUP BY content_type, device_type;

]
(Background on this error at: https://sqlalche.me/e/20/f405)