In [1]:
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../Backend','../models')))

In [2]:
#Reading the csv files
cities = pd.read_csv('../data/Cities/Chart data.csv', index_col=False)
cities.name = 'cities'
Content_type = pd.read_csv('../data/Content type/Chart data.csv', index_col=False)
Content_type.name = 'Content_type'
Device_type = pd.read_csv('../data/Device type/Chart data.csv', index_col=False)
Device_type.name = 'Device_type'
Geography = pd.read_csv('../data/Geography/Chart data.csv', index_col=False)
Geography.name = 'Geography'
New_and_returning_viewers = pd.read_csv('../data/New and returning viewers/Chart data.csv', index_col=False)
New_and_returning_viewers.name = 'New_and_returning_viewers'
Operating_system = pd.read_csv('../data/Operating system/Chart data.csv', index_col=False)
Operating_system.name = 'Operating_system'
Sharing_service = pd.read_csv('../data/Sharing service/Chart data.csv', index_col=False)
Sharing_service.name = 'Sharing_service'
Subscription_source = pd.read_csv('../data/Subscription source/Chart data.csv', index_col=False)
Subscription_source.name = 'Subscription_source'
Subscription_status = pd.read_csv('../data/Subscription status/Chart data.csv', index_col=False)
Subscription_status.name = 'Subscription_status'
Subtitles_and_CC = pd.read_csv('../data/Subtitles and CC/Chart data.csv', index_col=False)
Subtitles_and_CC.name = 'Subtitles_and_CC'
Traffic_source = pd.read_csv('../data/Traffic source/Chart data.csv', index_col=False)
Traffic_source.name = 'Traffic_source'

In [3]:
cities.head()

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [4]:
Traffic_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11511 entries, 0 to 11510
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            11511 non-null  object
 1   Traffic source  11511 non-null  object
 2   Views           11511 non-null  int64
dtypes: int64(1), object(2)
memory usage: 269.9+ KB

In [5]:
Traffic_source_table = pd.read_csv('../data/Traffic source/Table data.csv', index_col=False)
Traffic_source_table.name = 'Traffic_table'

In [6]:
Traffic_source_table.head()

,Traffic source,Views,Watch time (hours),Average view duration,Impressions,Impressions click-through rate (%)
0,Total,26625.0,2157.3497,0:04:51,606516.0,2.45
1,Channel pages,8444.0,780.2340,0:05:32,218825.0,2.95
2,Browse features,4759.0,321.8387,0:04:03,109132.0,3.43
3,Direct or unknown,4123.0,327.4812,0:04:45,NaN,NaN
4,YouTube search,3123.0,232.8650,0:04:28,93094.0,2.73

In [7]:
Content_type.head()

         Date Content type  Views
0  2020-06-28        Other      0
1  2020-06-29        Other      0
2  2020-06-30        Other      0
3  2020-07-01        Other      0
4  2020-07-02        Other      0

In [8]:
Content_type['Content type'].nunique()

2

In [9]:
import psycopg2
import pandas as pd


connection_params = {
  "user": "postgres",
  "password": "postgres",
  "database": "youtube",
  "host": "localhost",
  "port": "5432"
}


def get_postgres_data(query:str):
    # Establish a connection to the PostgreSQL database
    conn = psycopg2.connect(**connection_params)

    # Create a cursor object to execute queries
    cursor = conn.cursor()

    try:
        # Execute the SQL query
        cursor.execute(query)

        # Fetch all the results
        results = cursor.fetchall()

        # Get the cursor description
        description = cursor.description

        # Return both results and cursor description
        return results, description

    finally:
        cursor.close()
        conn.close()

def get_postgres_df(query, connection_params=connection_params):
    # Execute the query and get the results along with the cursor description
    results, description = get_postgres_data(query)
    print(results)
    print(description)

    # Get the column names from the cursor description
    columns = [desc[0] for desc in description]

    # Create a DataFrame from the results
    df = pd.DataFrame(results, columns=columns)

    return df

# Example usage:
postgres_query = "SELECT * FROM device_type_table_data"
postgres_df = get_postgres_df(postgres_query)
# print(postgres_df)

[('Total', 26625, 2157.3497, '0:04:51'), ('Computer', 19267, 1709.2645, '0:05:19'), ('Mobile phone', 6885, 413.0522, '0:03:35'), ('Tablet', 257, 20.9736, '0:04:53'), ('TV', 132, 8.0753, '0:03:40')]
(Column(name='Device type', type_code=25), Column(name='Views', type_code=23), Column(name='Watch time (hours)', type_code=701), Column(name='Average view duration', type_code=25))

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from location import Location
from analytics import Analytics
from new_returning_viewers import NewReturningViewers

In [17]:
engine = create_engine('postgresql://postgres:postgres@localhost/youtube_db')

In [18]:
Location.metadata.create_all(engine)
Analytics.metadata.create_all(engine)
NewReturningViewers.metadata.create_all(engine)

In [19]:
date_columns = ['Date', 'date']

In [22]:
for df in [cities, Content_type, Device_type, Geography, New_and_returning_viewers,
           Operating_system, Sharing_service, Subscription_source, Subscription_status,
           Subtitles_and_CC, Traffic_source]:
    for col in date_columns:
        if col in df:
            df[col] = pd.to_datetime(df[col])

In [23]:
analytics_data = pd.concat([Content_type, Device_type, Sharing_service, Subscription_source,
                            Subscription_status, Subtitles_and_CC, Traffic_source], ignore_index=True)
location_data = pd.merge(Geography, cities, how='left', on=['Date'])

In [24]:
analytics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53718 entries, 0 to 53717
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 53718 non-null  datetime64[ns]
 1   Content type         2558 non-null   object
 2   Views                31975 non-null  float64
 3   Device type          5116 non-null   object
 4   Sharing service      11511 non-null  object
 5   Shares               11511 non-null  float64
 6   Subscription source  10232 non-null  object
 7   Subscribers          10232 non-null  float64
 8   Subscription status  2558 non-null   object
 9   Subtitles and CC     8953 non-null   object
 10  Traffic source       11511 non-null  object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 4.5+ MB

In [30]:
location_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185455 entries, 0 to 185454
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       185455 non-null  datetime64[ns]
 1   Geography  179060 non-null  object
 2   Views_x    185455 non-null  int64
 3   Cities     185455 non-null  object
 4   City name  185455 non-null  object
 5   Views_y    185455 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 8.5+ MB

In [31]:
New_and_returning_viewers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       3837 non-null   datetime64[ns]
 1   New and returning viewers  3837 non-null   object
 2   Views                      3837 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 90.1+ KB

In [25]:
Session = sessionmaker(bind=engine)
session = Session()

In [26]:
location_data.rename(columns={'Date': 'date', 'Views': 'views'}, inplace=True)
location_data.to_sql('location', con=engine, if_exists='replace', index=False)

455

In [27]:
analytics_data.to_sql('analytics', con=engine, if_exists='replace', index=False)

718

In [28]:
New_and_returning_viewers.to_sql('new_returning_viewers', con=engine, if_exists='replace', index=False)

837

In [29]:
session.commit()
session.close()